
.card {
    width: 340px;
    height: 450px;
    background: #FFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-image {
    width: 100%;
    height: 230px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-text {
    margin: 5px 10px
}

.card-text p {
    margin: 0
}

.card-text-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

@media screen and (max-width: 760px) {
    .card {
        margin: 0 auto;
    }
}